terraform/ferrous-terrain-422816-i0-93fb4bb15c74.json
.terraform.lock.hcl
terraform.tfstate.backup
terraform.exe
.terraform
geocit-cloud-infrastructure
.DS_Store
terraform.tfstate
key.pem
certificate.pem
Bucket/ferrous-terrain-422816-i0-93fb4bb15c74.json
Bucket/backend.tfy
terraform/ansible_env
ansible/secret.txt
csr.csr
terraform/domain.cert.pem
terraform/intermediate.cert.pem
terraform/private.key.pem
terraform/public.key.pem
ansible/file.txt
