terraform/ferrous-terrain-422816-i0-93fb4bb15c74.json
.terraform.lock.hcl
terraform.tfstate.backup
terraform.exe
.terraform
geocit-cloud-infrastructure
.DS_Store
terraform.tfstate


ferrous-terrain-422816-i0-93fb4bb15c74.json

Bucket/backend.tfy
terraform/ansible_env
ansible/secret.txt
csr.csr

jenkins_creds.txt
user_add_true.groovy

terraform/certificate.pem
terraform/key.pem
terraform/private.key.pem
ansible/file.txt
